{% if has_duplicates|default('') == 'yes' %}
    {t}Also, all issues that are marked as duplicates from this one were updated as well.{/t}
{% endif %}

{% if errors|default('') != '' and errors|@count > 0 %}
    However, there are some warnings you should be aware of:
    <ul>
    {% for section, sub_errors in errors %}
    <li>{{ section }}
      <ul>
      {% for msg in sub_errors %}
        <li>{{ msg }}</li>
      {% endfor %}
      </ul>
    </li>
    {% endfor %}
    </ul>
    {% endif %}
    </span>

{% include "include/notified_list.html.twig.html" %}