{*
    blocks:
        title
        sidebar
        content
    variables:
        extra_title: If set, this will override the contents of the title block
*}
{capture assign="title"}{block name="title"}{$extra_title|default:""}{/block}{/capture}
<!DOCTYPE html>
<html>
<head data-rel-url="{$core.rel_url}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" />
  <link rel="shortcut icon" href="{$core.rel_url}favicon.ico" type="image/x-icon" />
  <link rel="search" type="application/opensearchdescription+xml" href="{$core.rel_url}opensearch.php" title="{t}Eventum Issues search{/t}" />
  <title>{if $title != '' or isset($extra_title)}{$extra_title|default:$title} - {/if}{$core.app_setup.tool_caption|default:$core.app_title}</title>
  <script type="text/javascript">
  <!--
  var user_prefs = {
{if isset($core.user)}
    relative_date: {$core.current_user_prefs.relative_date},
    week_firstday: {$core.current_user_prefs.week_firstday}
{/if}
  };
  //-->
  </script>

{function name="assetic_css"}
  {assetic
    bundle=$bundle
    output="css"
    config_path="{APP_PATH}/res/config/assetic"
    root_path="{APP_PATH}/htdocs"
    build_path="build"
    debug=false
    asset_url="asset_url"}
    <link rel="stylesheet" href="{$asset_url}">
  {/assetic}
{/function}

{function name="assetic_js"}
  {assetic
    bundle=$bundle
    output="js"
    config_path="{APP_PATH}/res/config/assetic"
    root_path="{APP_PATH}/htdocs"
    build_path="build"
    debug=false
    asset_url="asset_url"}
    <script type="text/javascript" src="{$asset_url}"></script>
  {/assetic}
{/function}

  {* libraries setup with component installer *}
  {assetic_css bundle="components"}
  <link rel="stylesheet" type="text/css" media="screen" href="{$core.rel_url}components/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{$core.rel_url}components/jquery-ui/themes/base/base.css">
  <link rel="stylesheet" type="text/css" media="screen" href="{$core.rel_url}components/jquery-ui/themes/base/theme.css">


  {* allow pages to inject to <head> block *}
  {block "stylesheets"}
  {/block}

  {* our css/js after remote assets to allow overrides *}
  {assetic_css bundle="main"}
  <link rel="stylesheet" type="text/css" media="screen" href="{$core.rel_url}css/page.css">

  {* local directory can add overrides *}
  {$userstyle}

  {assetic_js bundle="components"}
  {assetic_js bundle="main"}

  {* allow pages to inject to <head> block *}
  {block "javascripts"}
  {/block}
  {$debugbar_head|default:''}

  {* local directory can add overrides *}
  {$userscript}

  {* local directory can add overrides *}
  {include file="extra_header.tpl.html"}
</head>
<!--[if lt IE 7 ]> <body class="ie6 {block page_classes}{/block}" id="{$core.template_id}"> <![endif]-->
<!--[if IE 7 ]> <body class="ie7 {block page_classes}{/block}" id="{$core.template_id}"> <![endif]-->
<!--[if IE 8 ]> <body class="ie8 {block page_classes}{/block}" id="{$core.template_id}"> <![endif]-->
<!--[if !IE]>--> <body class="{block page_classes}{/block}" id="{$core.template_id}"><!--<![endif]-->
<div id="container">
    {block "header"}{/block}

    <div id="full_width_messages">
    {block "messages"}
        {include "app_messages.tpl.html"}
    {/block}
    </div>

    <div id="middle">
        <div id="content">
        {block name="content"}{/block}
        </div>
        <div class="clear"></div>
    </div>

    {block "footer"}{/block}
    {$debugbar_body|default:''}
</div>
</body>
</html>
