{#
list excerpts

used by block in list.html.twig.html

#}
<ul class="excerpts">
  {% if list[i].excerpts.issue.summary %}
    {# TRANSLATORS: %1: excerpt issue summary #}
    <li>{t escape=no 1=$list[i].excerpts.issue.summary}Summary: %1{/t}</li>
  {% endif %}
  {% if list[i].excerpts.issue.description %}
    {# TRANSLATORS: %1: excerpt issue description #}
    <li>{t escape=no 1=$list[i].excerpts.issue.description}Description: %1{/t}</li>
  {% endif %}
  {% if list[i].excerpts.email|@count > 0 %}
    <li>{t}Emails{/t}:
      <ul class="emails">
      {% for email_num, highlight in list %}
        <li value="{{ email_num }}">#{{ email_num }}: {{ highlight }}</li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
  {% if list[i].excerpts.phone|@count > 0 and core.current_role != core.roles.customer %}
    <li>{t}Phone Calls{/t}:
      <ul class="phone">
      {% for highlight in list %}
        <li>{{ highlight }}</li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
  {% if list[i].excerpts.note|@count > 0 and core.current_role != core.roles.customer %}
    <li>{t}Notes{/t}:
      <ul class="notes">
      {% for note_num, highlight in list %}
        <li value="{{ note_num }}">#{{ note_num }}: {{ highlight }}</li>
      {% endfor %}
      </ul>
    </li>
  {% endif %}
</ul>
