{extends "base.html.twig.html"}
{block "title"}Select Customer{/block}

{block "content"}
<br />
<form name="login_form" method="post" action="">
    <input type="hidden" name="url" value="{$smarty.get.url|default:''}">
    <table class="bordered narrow">
        <tr class="title">
            <th>
                Select a Customer
            </th>
        </tr>
        <tr>
            <td>
                <ul>
                    {% for customer in customers %}
                    <li>
                        <label><input type="radio" name="customer_id" value="{{ customer.customer_id }}"
                                {% if core.current_customer.customer_id|default('') == customer.customer_id ||
                            (core.current_customer|default('') == '' && customer@first) %}checked="checked"{% endif %}
                                >{{ customer.name }}</label>
                    </li>
                    {% endfor %}
                </ul></td>
        </tr>
        <tr class="buttons">
            <td>
                <input type="submit" name="submit" value="Choose Customer" />
            </td>
        </tr>
    </table>
</form>
{/block}