{extends "base_full.html.twig.html"}
{block page_classes}issue_view{/block}

{block "content"}
{% if issue|default('') != '' %}
  {% include "view_form.html.twig.html" %}

  {% if custom_fields|@count > 0 %}
  {% include "custom_fields.html.twig.html" %}
  {% endif %}
  {% if issue_access.partners && enabled_partners|@count > 0 %}
  <div class="view_issue_seperator"></div>
  {% include "partners.html.twig.html" %}
  {% endif %}
  <div class="view_issue_seperator"></div>

  {% if core.has_crm and issue.iss_customer_id %}
  {% include "`$core.crm_template_path`/customer_info.html.twig.html" %}
  {% endif %}

  {% if issue_access.files %}
  {% include "attachments.html.twig.html" %}
  <div class="view_issue_seperator"></div>
  {% endif %}

  {% if core.current_role > core.roles.customer and core.app_setup.scm_integration|default('') == 'enabled' %}
  {% include "checkins.html.twig.html" %}
  {% endif %}

  {% if issue_access.time %}
  {% include "time_tracking.html.twig.html" %}
  {% endif %}

  {% if issue_access.notes %}
  {% include "notes.html.twig.html" %}
  {% endif %}

  {% if issue_access.phone %}
  {% include "phone_support.html.twig.html" %}
  {% endif %}

  {% if core.app_setup.support_email == 'enabled' && ema_id != "" %}
    {% if issue_access.drafts %}
      {% include "email_drafts.html.twig.html" %}
    {% endif %}
  {% include "support_emails.html.twig.html" %}
  {% endif %}
{% endif %}

{/block}