{extends "manage/manage.html.twig.html"}

{block "javascripts" append}

  <script type="text/javascript">
    {#FIXME: what uses the projects var? #}
  var projects = [];
  {% for prj_id, prj_title in project_list %}
    projects[{{ loop.index-1 }}] = {{ prj_id }};
  {% endfor %}

  function openAliasList(e)
  {
    var target = $(e.target);
    var features = 'width=560,height=460,top=30,left=30,resizable=yes,scrollbars=yes,toolbar=no,location=no,menubar=no,status=no';
    var aliasEmailWin = window.open('email_alias.php?id=' + target.attr('data-usr-id'), '_EmailAlias', features);
    aliasEmailWin.focus();
    return false;
  }

  $(function() {
      $('a.manage_alias').click(openAliasList);
    });
  </script>
{/block}

{#
 NOTE: we load the includes in reverse orders
 even logically in users.html.twig we append form and list templates,
 but smarty messes it up and reverses the order:

 list.html.twig, form.html.twig while it should be form.html.twig, list.html.twig
#}

{% if isset(list) %}
  {% include "manage/users_list.html.twig.html" %}
{% endif %}

{% include "manage/users_form.html.twig.html" %}
